# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/out/